[defaults]
inventory           = inventory.ini
interpreter_python  = auto_silent
stdout_callback     = yaml
retry_files_enabled = false
gathering           = smart
fact_caching        = memory

[ssh_connection]
pipelining = true
